@import "/src/app/shared/styles/border-radius";

.content img {
  position: relative;
  // min-height: 400px;
  // max-height: 500px;
  height: 415px;
  max-width: 590px;
  border-radius: $small-border-radius;
  cursor: pointer;
}
