@import "/src/app/shared/styles/colors";

.coupon {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.coupon-input {
  width: fit-content;
  border: 1px solid $gray-80;
  border-radius: 50px;
  padding-left: 30px;
  input {
    margin: 0px 20px;
    border: none;
    outline: none;
  }
}

.black-btn {
  border-radius: 0px 50px 50px 0px;
}

.gray-btn {
  float: right;
}


@media (max-width: 1840px) {
  .coupon-input {
    width: 444px;
    height: 52px;
  }
  .black-btn {
    width: 112px;
    height: 50px;
    padding: 5px 10px
  }
  .gray-btn {
    width: 112px;
    height: 50px;
    padding: 5px 10px
  }
}