@import "../../../../shared/styles/border-radius.scss";

.list-group {
    border-radius: $small-border-radius;
    width: 250px;
    margin-right: 10px;
}

li {
    width: 100%;
}

mat-icon {
    float: right;
}