@import "/src/app/shared/styles/border-radius";
@import "/src/app/shared/styles/colors";

.brand-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 502px;
  border: 2px solid $gray-80;
  border-radius: $small-border-radius;
  padding: 104px 11px;
}

img,
button {
  margin: auto;
}

img {
  max-width: 200px;
}

h5 {
  margin: 20px;
}

button {
  font-size: 16px;
  width: 198px;
  height: 51px;
  line-height: 50px;
  display: inline-block;
  font-weight: 500;
  border: none;
  border-radius: $huge-border-radius;
  color: $non-color-2;
  background: $main-color-20;
  background-image: linear-gradient(122deg, $main-color-10, $main-color-20);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

button:hover {
  box-shadow: 0px 2px 20px 2px rgba(194, 106, 245, 0.68);
}
