.side-bar-area {
  position: relative;
  width: fit-content;
}
.side-bar {
  margin-top: 50px;
  width: 14vw;
  padding: 40px 60px 40px 0px;
}

hr {
  border-color: white;
}

.empty-btn {
  position: relative;
  z-index: 20;
  float: right;
  margin-right: -35px;
}

@media screen and (max-width: 1088px) {
  .side-bar {
    width: 20vw;
  }
}

@media screen and (max-width: 750px) {
  .side-bar {
    width: 30vw;
  }
}

@media screen and (max-width: 550px) {
  .side-bar {
    width: 40vw;
  }
}

.hideSidebar {
  width: 80px !important;
  margin-right: 90px;
  ul {
    display: none;
  }
  box-shadow: none !important;
}
