.list-group {
  height: 52vh;
  margin-top: 10px;
  text-align: center;
  overflow-y: auto;
}

.alert-box {
  top: 10vh;
  bottom: 20vh;
  height: 79vh;
  margin-left: -50vw;
  min-width: 360px;
}

.cancel-btn {
  width: 100%;
  margin-bottom: 50px;
}

.red-btn {
  float: right;
  margin-bottom: 10px;
}
