<h3>Add a description block:</h3>
<div class="blocks">
  <div class="row">
    <div class="block1 block">
      <div class="text">
        <div class="text-long"></div>
        <div class="text-short"></div>
        <div class="text-long"></div>
      </div>
      <div class="image">
        <img
          src="../../../../../assets/image-gallery.svg"
          alt="image gallery"
        />
      </div>
    </div>

    <div class="block2 block">
      <div class="image">
        <img
          src="../../../../../assets/image-gallery.svg"
          alt="image gallery"
        />
      </div>
      <div class="text">
        <div class="text-long"></div>
        <div class="text-short"></div>
        <div class="text-long"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="block3 block">
      <div class="text">
        <div class="text-long"></div>
        <div class="text-short"></div>
        <div class="text-long"></div>
      </div>
      <div class="image">
        <img
          src="../../../../../assets/image-gallery.svg"
          alt="image gallery"
        />
      </div>
    </div>

    <div class="block4 block">
      <div class="image">
        <img
          src="../../../../../assets/image-gallery.svg"
          alt="image gallery"
        />
      </div>
      <div class="text">
        <div class="text-long"></div>
        <div class="text-short"></div>
        <div class="text-long"></div>
      </div>
    </div>
  </div>
</div>
