@import "/src/app/shared/styles/border-radius";
@import "/src/app/shared/styles/colors";

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0px;
}

.block {
  display: flex;
  height: 170px;
  width: 320px;
  border-radius: $small-border-radius;
  background: linear-gradient(122deg, $main-color-10, $main-color-20);
}

.text {
  display: flex;
  place-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 20px;
}

.text-long,
.text-short {
  height: 10px;
  margin: 10px;
  border-radius: $small-border-radius;
  background-color: $non-color-2;
}

.text-long {
  width: 100px;
}

.text-short {
  width: 50px;
}

.image {
  padding: 20px;
  img {
    width: 120px;
    height: 120px;
  }
}

.block2 {
  float: right;
}

.block3,
.block4 {
  display: flex;
  place-content: center;
  align-items: center;
  flex-direction: column;
  .text {
    display: contents;
    height: 50%;
  }

  .image {
    display: flex;
    place-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50%;
    border-radius: $small-border-radius;
    background-color: rgba($color: $non-color-1, $alpha: 0.2);
  }

  img {
    width: 60px;
    height: 60px;
  }
  .text-long,
  .text-short {
    height: 10px;
    margin: 5px;
    border-radius: $small-border-radius;
  }
}

.block3 {
  .image {
    position: relative;
    bottom: -12px;
  }
}

.block4 {
  .image {
    position: relative;
    top: -12px;
  }
}
