<div class="features">
    <div class="feature">
        <div class="left">
            <img src="../../../../assets/credit-card.svg" alt="safe payment">
        </div>
        <div class="right">
            <h3>Safe Payment</h3>
            <p>Pay with the world’s most payment methods.</p>
        </div>
    </div>
    <hr>
    <div class="feature">
        <div class="left">
            <img src="../../../../assets/secure.svg" alt="confidence">
        </div>
        <div class="right">
            <h3>Confidence</h3>
            <p>Protection covers your purchase</p>
        </div>
    </div>
</div>
<div class="contact">
    <div class="left">
        <img src="" alt="">
    </div>
    <div class="right">
        <h3>(+123) 456 789
                <br>
            (+123) 666 888</h3>
    </div>
</div>