$gray-00: #242424;
$gray-10: #333333;
$gray-20: #666666;
$gray-30: #999999;
$gray-40: #bfbfbf;
$gray-80: #f0f0f0;
$gray-90: #f8f8f8;

$main-red: #ff5050;

$main-color-10:#c26af5;
$main-color-20:#54f0ff;

$non-color-1: black;
$non-color-2: white;