<div class="item">
  <div class="delete-btn">
    <button (click)="onDelete()" class="empty-btn">X</button>
  </div>
  <div class="product-img">
    <img [src]="product.img" />
  </div>
  <div class="product-title">
    <a [routerLink]="['/product', product.id]">{{ product.name }}</a>
  </div>
  <form class="quantity">
    <input
      (input)="onQuantityChange($event.target.value)"
      min="1"
      type="number"
      [value]="product.quantity"
    />
  </form>
  <div class="price">
    <p>$ {{ product.total }}</p>
  </div>
</div>
<hr />
