<app-info-alert [message]="infoMessage"[success]="success" *ngIf="showInfo"></app-info-alert>
<div class="login">
  <h3 class="card-top" [class.cardTop]="resetPasswordMode"> {{resetPasswordMode? "Password reset":"Login"}} </h3>
  <form class="auth-form" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
    <div class="form-group">
      <ng-container *ngIf="!showResetPasswordCode && !showNewPassword">
        <label for="email">E-Mail <span class="required-field"> *</span></label>
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          required
          email
          #email="ngModel"
          placeholder="email"
        />
        <span class="help-blok" *ngIf="!email.valid && email.touched" style="color:red">Please enter a valid email adress!</span>
      </ng-container>
      <ng-container *ngIf="showResetPasswordCode">
        <label for="code">Code</label>
        <input
          type="text"
          id="code"
          class="form-control"
          ngModel
          name="code"
          required
          email
          placeholder="code"
        />
      </ng-container>
    </div>
    <ng-container class="form-group" *ngIf="!resetPasswordMode || showNewPassword">
      <label for="password">Password <span class="required-field"> *</span></label>
      <input
        type="password"
        id="password"
        class="form-control"
        ngModel
        name="password"
        required
        minlength="6"
        placeholder="password"
        password
        #password="ngModel"
      />
      <span class="help-blok" *ngIf="!password.valid && password.touched" style="color:red">Password too short!</span>
    </ng-container>
    <ng-container class="form-group" *ngIf="showNewPassword">
      <label for="confirmPassword">Confirm password <span class="required-field"> *</span></label>
      <input
        type="password"
        id="confirmPassword"
        class="form-control"
        ngModel
        name="confirmPassword"
        required
        minlength="6"
        placeholder="confirm password"
      />
    </ng-container>
    <div class="form-group">
      <a class="password-reset" *ngIf="!resetPasswordMode" (click)="resetPasswordMode = true">Oh, no... I forgot my password! :(</a>
    </div>
    <div class="login-btn">
      <button
        [disabled]="!authForm.valid"
        class="white-btn"
        type="submit"
       
      >
      {{resetPasswordMode? "Send":"Login"}}
       </button>
     
    </div>
  </form>
</div>
