@import "../../../styles/colors.scss";

.customer-service {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    a {
        padding: 8px;
    }
    a:hover {
        color: $main-red;
    }
}