@import "../../colors.scss";

.product {
    display: flex;
    transition: all 0.3s ease 0s;
}

img {
    padding: 2px;
    max-height: 90px;
    max-width: 90px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
}

.product:hover {
    img {
        border-image: linear-gradient(to right, #c26af5, #57eeff);
        border-image-slice: 1;
    }
}

.right {
    margin-left: 30px;
    a {
        cursor: pointer;
        font-weight: 800;
        font-size: 14px;
    }

    a:hover {
        color:$brightest-text
    }

    p {
        margin-top: 20px;
        color: $brighter-text;
    }
}