<div class="backdrop"></div>
<div class="alert">
  <div class="alert-box">
      <div>
      <button (click)="onClose()" class="btn btn-danger">X</button>
      <form [formGroup]="footerForm">
        <div class="row">
          <div class="col">
            <input
              formControlName="adress"
              type="text"
              class="form-control"
              placeholder="Adress"
            />
          </div>
          <div class="col">
            <input
              formControlName="email"
              type="email"
              class="form-control"
              placeholder="Email"
            />
          </div>
          <div class="col">
            <input
              formControlName="phone"
              type="text"
              class="form-control"
              placeholder="Phone"
            />
          </div>
        </div>
        <hr />
        <h1>Social media</h1>
        <div class="row">
          <div class="col">
            <input
              formControlName="facebookUrl"
              type="text"
              class="form-control"
              placeholder="Facebook link"
            />
            <input
              class="custom-input-file"
              type="file"
              accept="image/*"
              (change)="facebookLogo($event)"
            />
          </div>
          <div class="col">
            <input
              formControlName="instagramUrl"
              type="text"
              class="form-control"
              placeholder="Instagram link"
            />
            <input
              class="custom-input-file"
              type="file"
              accept=".png,.jpg,.jpeg,.svg"
              (change)="instagramLogo($event)"
            />
          </div>
          <div class="col">
            <input
              formControlName="twitterUrl"
              type="text"
              class="form-control"
              placeholder="Twitter link"
            />
            <input
              class="custom-input-file"
              type="file"
              accept=".png,.jpg,.jpeg,.svg"
              (change)="twitterLogo($event)"
            />
          </div>
        </div>
        <button [disabled]="!footerForm.valid" (click)="onSubmit()" class="btn btn-primary">Save</button>
      </form> 
    </div>
  </div>
</div>
