.red-btn {
  float: right;
}
.btn-primary {
  margin-top: 20px;
}

.custom-input-file {
  margin: 10px;
}

.alert-box {
  top: 10vh;
  bottom: 20vh;
  height: fit-content;
  margin: auto;
  width: fit-content;
}

form {
  margin-top: 50px;
}

.col {
  display: flex;
  flex-direction: column;
  place-content: center;
}

.upload-btn {
  margin-top: 10px;
}
