.red-btn {
  float: right;
}
.green-btn {
  margin-top: 20px;
}

.custom-input-file {
  margin: 10px;
}

.alert-box {
  top: 10vh;
  bottom: 20vh;
  height: fit-content;
  margin: auto;
  width: fit-content;
  left: 10vw;
}

form {
  margin-top: 50px;
}

.col {
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
}

.upload-btn {
  margin-top: 10px;
  max-width: 200px;
}
