<div class="backdrop"></div>
<div class="alert">
  <div class="alert-box">
    <button (click)="onClose()" class="btn red-btn">X</button>
    <div>
      <form [formGroup]="footerForm">
        <div class="row">
          <div class="col">
            <input
              formControlName="adress"
              type="text"
              class="form-control"
              placeholder="Adress"
            />
          </div>
          <div class="col">
            <input
              formControlName="email"
              type="email"
              class="form-control"
              placeholder="Email"
            />
          </div>
          <div class="col">
            <input
              formControlName="phone"
              type="text"
              class="form-control"
              placeholder="Phone"
            />
          </div>
        </div>
        <hr />
        <h1>Social media</h1>
        <div class="row">
          <div class="col">
            <input
              formControlName="facebookUrl"
              type="text"
              class="form-control"
              placeholder="Facebook link"
            />
            <label class="upload-btn" for="imgInput">Facebook logo</label>
            <input
              id="imgInput"
              type="file"
              accept="image/*"
              (change)="facebookLogo($event)"
              hidden
            />
          </div>
          <div class="col">
            <input
              formControlName="instagramUrl"
              type="text"
              class="form-control"
              placeholder="Instagram link"
            />
            <label class="upload-btn" for="imgInput">Instagram logo</label>
            <input
              id="imgInput"
              type="file"
              accept="image/*"
              (change)="instagramLogo($event)"
              hidden
            />
          </div>
          <div class="col">
            <input
              formControlName="twitterUrl"
              type="text"
              class="form-control"
              placeholder="Twitter link"
            />
            <label class="upload-btn" for="imgInput">Twitter logo</label>
            <input
              id="imgInput"
              type="file"
              accept="image/*"
              (change)="twitterLogo($event)"
              hidden
            />
          </div>
        </div>
        <hr />
        <app-schedule-edit></app-schedule-edit>
        <button
          [disabled]="!footerForm.valid"
          (click)="onSubmit()"
          class="btn green-btn"
        >
          Save
        </button>
      </form>
    </div>
  </div>
</div>
