@import "/src/app/shared/styles/border-radius";
@import "/src/app/shared/styles/colors";

.features {
  border: 2px solid $gray-80;
  border-radius: $small-border-radius;
}

.safe-payment,
.confidence {
  padding: 15px 30px;
}

//! a better version? if not, delete contact--content from html
// .contact {
//   margin-top: 20px;
//   background-image: linear-gradient(122deg, $main-color-10, $main-color-20);
//   border-radius: 30px;
//   padding: 5px;
//   &--content{
//     padding: 15px;
//     border-radius: 30px;
//     background-color: white;
//   }
// }

.contact {
  margin-top: 20px;
  border: 2px solid $gray-80;
  border-radius: 30px;
  padding: 15px;
}

.feature {
  display: flex;
  padding: 20px;

  h3 {
    font-size: 14px;
    margin-bottom: 7px;
    font-family: inherit;
    font-weight: 800;
    line-height: 1.1;
    color: inherit;
  }

  p {
    color: $gray-30;
    font-size: 12px;
    line-height: 18px;
  }

  .left,
  .right {
    margin: 10px;
  }

  .left {
    margin-top: 20px;
  }
}
