<app-discount-modal [id]="discountProductId" (close)="showDiscount = false" *ngIf="showDiscount"></app-discount-modal>
<div class="container">
  <div *ngIf="deleteAlert">
    <app-delete-alert  (delete)="onDelete($event)" *ngIf="deleteAlert"></app-delete-alert>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Discount</th>
        <th scpe="col">Edit</th>
        <th scpe="col">Delete</th>
      </tr>
    </thead>
    <tbody *ngFor="let product of products; let i = index">
      <tr>
        <td scope="row">{{currentPage===1? i+1 : (i + ((currentPage-1) * 10))+1}}</td>
        <td>
          <img
            class="product-img"
            [src]="product.thumbnail"
            [alt]="product.title"
          />
        </td>
        <td>
          <b>{{ product.title | shorten: 20 }}</b>
        </td>
        <td>
          <b>{{ product.price }}</b>
        </td>
        <td>
          <b>{{ product.quantity }}</b>
        </td>
        <td>
          <button (click)="openDiscount(product._id)" class="empty-btn"><mat-icon> attach_money</mat-icon></button>
          <!-- <mat-icon> local_offer</mat-icon> -->
        </td>
        <td>
          <button class="empty-btn" (click)="openEditProduct(product)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
        <td>
          <button
            class="empty-btn"
            (click)="openDeleteAlert(i)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-pagination [haveNext]="haveNext" (nextPage)="nextPage()" (previousPage)="previousPage()"></app-pagination>
</div>
