.content {
    height: 85vh;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
}

.auth-form {
    max-width: 500px;
    // padding: 50px;
    // border-radius: 20px;
    // color: black;
    // background-color: whitesmoke;
}

.form-btn {
    margin-top: 20px;
}