@import "/src/app/shared/styles/border-radius";
@import "/src/app/shared/styles/colors";

.product-details {
  flex-direction: column;
  display: flex;
  place-content: flex-start center;
  align-items: flex-start;
}

.category p {
  color: $gray-30;
  font-size: 12px;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.availability {
  p {
    color: $gray-30;
  }

  p span {
    color: red;
  }

  .green {
    color: green !important;
  }
}

.product-model,
.brand {
  font-weight: bold;
}

.brand {
  img {
    height: 30px;
    width: 30px;
  }
}

.id {
  p {
    font-weight: bold;
  }
  span {
    font-size: 14px;
    color: $gray-30;
  }
}

.model {
  margin-bottom: 15px;
  .main-btn {
    margin-right: 10px;
    margin-left: 0;
  }
}

.brand,
.id,
.product-model {
  margin-top: 20px;
}

.cart-favorites-btn-group {
  display: flex;
  .favorites {
    margin-left: 10px;
    border-radius: 50%;
    border: solid 1px $gray-20;
    img {
      filter: invert(64%) sepia(0%) saturate(107%) hue-rotate(222deg)
        brightness(97%) contrast(86%);
    }
  }
  .added {
    border: none;
    box-shadow: 0px 2px 20px 2px $main-green;
    img {
      filter: invert(34%) sepia(97%) saturate(676%) hue-rotate(79deg) brightness(98%) contrast(84%);
    }
  }
}

.add-to-cart-btn {
  width: 210px;
  height: 47px;
  span {
    color: $non-color-2;
    font-weight: 800;
  }
  background: $main-color-20;
  background-image: linear-gradient(122deg, $main-color-20, $main-color-10);
  border: none;
  border-radius: $huge-border-radius;
  padding: 8px 15px;
  input {
    border-radius: 30px;
    border: none;
    padding: 5px;
    padding-left: 15px;
    width: 50px;
  }
  .empty-btn {
    background-color: transparent;
  }
  span,
  input {
    margin-right: 5px;
  }
}
//Used for filter
//https://codepen.io/sosuke/pen/Pjoqqp
