<div class="content">
    <div class="left">
        <img src="http://landing.engotheme.com/html/ecome/demo/img/iconbs.png">
        <h1>
            Best Sellers
        </h1>
    </div>
    <div class="right">
        <button class="main-btn">Tv & Video</button>
        <button class="main-btn">Audio & Theater</button>
        <button class="main-btn">Camera, Photo & Video</button>
        <button class="main-btn">Cell Phones & Accessories</button>
        <button class="main-btn">Headphones</button>
    </div>
</div>