.buy-btn {
    border-radius: 50px;
    border:5px solid red;
    padding: 5px 20px;
    color: white;
    background-color: transparent;
}

.buy-btn:hover {
    box-shadow: 0 0 15px 0 rgb(239, 220, 255);
}