.form-btn {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color:  black;
    box-shadow: 0 0 10px 0 rgba(157, 96, 212, 0.5);
    border: 1px solid rgb(0, 119, 255);
}

.form-btn:hover {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.5);
};