.product-btn {
    transition-duration: 0.4s;
    border-radius: 100rem;
    padding: 1rem;
    font-size: 1rem;
    padding: .5rem 3rem;
    color:white;
    box-shadow: 0 0 10px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px #3F6174;
    background-color: black;
}

.product-btn:hover{
    box-shadow: 0 0 15px 0 rgb(239, 220, 255);
    border-color:rgb(136, 0, 255);
}