.btn-danger {
  float: right;
}

.alert-box {
  top: 20vh;
  bottom: 20vh;
  width: 50vw;
}

.alert {
  // THIS IS WRONG!!!
  margin-left: -300px;
  //
}

.sender {
  margin-top: 20px;
  margin-bottom: 30px;
}

div.message {
  max-height: 400px;
  overflow: auto;
  padding-bottom: 50px;
}

.mobile {
  top: 10px;
  height: 95vh;
  width: 95vw;
}

.mobile {
  h3 {
    font-size: 0.9em !important;
  }
}
