@import "../../styles/colors.scss";

.navbar {
  height: 60px;
  background-color: $gray-80;
}

ul {
  display: flex;
}

li {
  margin: 10px;
  vertical-align: middle;
}

.nav-text {
  position: relative;
  bottom: 7px ;
}

mat-icon {
  color: $non-color-1;
}