.alert-box {
  top: 30vh;
  width: 400px;
  margin-left: -100px; //! FIX IT!
}

.red-btn {
  float: right;
}

.discount {
  display: flex;
  height: 100%;
}

.right {
  width: 200px;
  display: flex;
  align-items: center;
  place-content: center;
  button {
    margin-top: 12px;
  }
}
