.gray-btn {
    border: none;
    border-radius: 50px;
    color: #666666;
    background: #efefef;
    border-radius: 999px;
    padding: 20px 50px;
    transition: all 0.3s ease 0s;
}

.gray-btn:hover {
    background: #333;
    color: #fff;
}