<div class="product product-box"[class.small]="small">
    <div class="product-info">
        <div class="title">
            <h1>
                {{product.title}}
            </h1>
        </div>
        <div class="price">
            <h2>
                From <span>{{product.price}}$</span>
            </h2>
        </div>
        <div class="link">
            <h3>Shop now <span><mat-icon>keyboard_arrow_right</mat-icon></span></h3>
        </div>
    </div>
    <div class="product-img">
        <img [src]="product.thumbnail" [alt]="product.title">
    </div>
</div>