@import "/src/app/shared/styles/border-radius";
@import "/src/app/shared/styles/colors";

.product {
  height: 415px;
  text-align: center;
  border-radius: $small-border-radius;
  padding: 20px;
  margin-left: 10px;
}

.cut span {
  font-size: 2rem;
  color: $main-red;
}

.cut h2 {
  color: $gray-30;
}

.link {
  h2 {
    color: $main-red;
    cursor: pointer;
  }

  span {
    position: relative;
    top: 5px;
  }
}

img {
  margin-top: 10px;
  width: 150px;
  cursor: pointer;
}

.img:hover {
  img {
    transform: scale(1.25);
    transition: all 1s linear;
  }
}

.price {
  font-size: 16px;
  font-weight: 500;
  color: $gray-30;
  margin-bottom: 20px;
  span {
    color: $main-red;
    font-size: 30px;
  }
}
