<div class="product product-box shadow">
    <div class="title">
        <h1>
            {{product.title}}
        </h1>
    </div>
    <div class="cut" *ngIf="product.cut">
        <h2>Sale up to <span>{{product.cut}}%</span></h2>
    </div>
    <div class="price" *ngIf="!product.cut">
        <h2>
            From <span>{{product.price}}$</span>
        </h2>
    </div>
    <div class="link">
        <h2 [routerLink]="['/product',product._id]">Shop now <span> <mat-icon>keyboard_arrow_right</mat-icon></span></h2>
    </div>
    <div class="img">
        <img [routerLink]="['/product',product._id]" [src]="product.thumbnail" [alt]="product.title">
    </div>
</div>
