@import "../../../styles/colors.scss";

.bar {
    display: flex;
    width: 100%;
}

.links {
    width: 60%;
}

ul {
  display: flex;
}

li {
  display: inline;
  margin: 5px 30px;
  a {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: $gray-20;
    line-height: 18px;
    padding: 24px 20px 24px 20px;
  }
}

.special-for-you-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 17px 10px 0px -30px;
  height: 57px;
  background-image: linear-gradient(122deg, $main-color-10, $main-color-20);
  padding-right: 26px;
  text-align: left;
  padding: 0 20px;
  border: none;
  border-radius: 90px;
  font-size: 1.5rem;
  color: $non-color-2;
  mat-icon {
    padding-top: 10px;
  }
}
