.top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.left,
.right {
  width: 45%;
}

.center {
  margin: auto;
  text-align: center;
  p {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
  }
}

.right {
  float: right;
}

.buttons-area {
  display: flex;
  width: 100%;
  margin: 20px 0px;
}

.buttons {
  margin: auto;
  width: fit-content;
}
