@import "/src/app/shared/styles/border-radius";
@import "/src/app/shared/styles/colors";

.wishlit {
  position: relative;
  width: 100%;
  margin-top: 100px;
  border: 1px solid $gray-80;
  border-radius: $small-border-radius;
  padding: 40px 20px;
}

.card-top {
  position: absolute;
  width: 140px;
  margin: auto;
  margin-top: 15px;
}