.nav-bar {
  display: flex;
  padding: 20px 25px;
  height: 65px;
}
.ul-links {
  margin: auto;
  padding-right: 220px;
}
ul {
  display: inline-flex;
  vertical-align: middle;
}

li {
  margin: 10px;
}

.brand-name {
  display: inline-flex;
  margin-top: 14px;
}

.search-bar {
  position: absolute;
  right: 20px;
  width: 200px;
}

.search {
  margin-top: 14px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #bababa;
  box-sizing: border-box;
  border-radius: 10px;
  padding-left: 20px;
}
