.navbar {
  padding-top:25px;
  background-color: #f4f4f4;
}

ul {
  display: flex;
}

li {
  margin: 10px;
  vertical-align: middle;
}

.nav-text {
  position: relative;
  bottom: 7px ;
}

mat-icon {
  color: black;
}