<div class="nav-bar">
  <div class="brand-name">
    <h1><a routerLink="">Gadget 51</a></h1>
  </div>
  <div class="ul-links">
    <ul>
      <li><a routerLink="test">Delivery</a></li>
      <li><a routerLink="test">Payment</a></li>
      <li><a routerLink="test">Contacts</a></li>
      <li><a routerLink="test">Categories</a></li>
      <li><a routerLink="auth">Account</a></li>
      <li><a routerLink="test"><mat-icon>shopping_cart</mat-icon></a></li>
    </ul>
  </div>
  <div class="search-bar">
    <input class="search" type="text" placeholder="Search..." />
  </div>
</div>
