<div class="navbar">
  <div class="left">
    <ul>
      <li>
        <mat-icon>store</mat-icon> <span class="nav-text"> Store Location</span> 
      </li>
      <li>
        |
      </li>
      <li>
        <mat-icon>place</mat-icon><span class="nav-text"> Track Your Order</span> 
      </li>
    </ul>
  </div>
  <div class="right">
    <ul>
      <li>
        Buyer Protection
      </li>
      <li>
        |
      </li>
      <li>
        Help
      </li>
      <li>
        |
      </li>
      <li>
        <mat-icon>smartphone</mat-icon> <span class="nav-text">Save big on your app!</span> 
      </li>
      <li>
        |
      </li>
      <li>
        Language
      </li>
      <li>
        |
      </li>
      <li>
        Currency
      </li>
    </ul>
  </div>
</div>