@import "/src/app/shared/styles/border-radius";
@import "/src/app/shared/styles/colors";

.right {
  min-height: 400px;
  border: 2px solid $gray-80;
  border-radius: $small-border-radius;
}

.right {
  background: $gray-90;
  .top {
    width: fit-content;
    padding: 0px 20px;
    padding-top: 10px;
  }
}

.top {
  position: relative;
  top: -31px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  place-content: center;
  align-items: center;
  border: 2px solid $gray-10;
  padding-top: 10px;
  line-height: 50px;
  width: 116px;
  font-weight: 800;
  border-radius: $huge-border-radius;
  font-size: 18px;
  background-color: $non-color-2;
}
.shipping,
.subtotal,
.top-cart,
.total-top,
.bottom-cart {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.top-cart {
  padding-bottom: 0px;
}

.subtotal,
.shipping,
.total,
.top-cart {
  p {
    font-size: 16px;
    font-weight: 800;
  }
}

.shipping-options {
  display: flex;
  flex-direction: column;
  label {
    margin-left: 10px;
    font-weight: 700;
    color: $gray-10;
  }
}

.gradient-btn {
  display: block;
  width: 75%;
  margin: 40px auto;
}

.total-top {
  h2 {
    padding: 0px 100px;
  }
}

.payment-options,
.terms-of-use {
  padding: 20px;
  label {
    margin-left: 10px;
    font-weight: 700;
    color: $gray-10;
  }
}

.terms-of-use {
  label a {
    cursor: pointer;
    font-weight: 800;
    color: red;
  }
}
