<div class="right" [formGroup]="orderDetailsForm">
  <div class="top">
    <h1>Your order</h1>
  </div>
  <div class="cart">
    <div class="top-cart">
      <p>Product(s)</p>
      <p>Total</p>
    </div>
    <div class="bottom-cart" *ngFor="let product of products">
      <p>{{ product.name }} x {{ product.quantity }}</p>
      <p>$ {{ product.price }}</p>
    </div>
  </div>
  <hr />
  <div>
    <div class="subtotal">
      <p>Subtotal</p>
      <p class="subtotal-value">$ {{ subtotal }}</p>
    </div>
    <div class="coupon" *ngIf="cutTotal > 0">
      <p>Coupon</p>
      <p class="coupon-value">$ -{{ cutTotal }}</p>
    </div>
  </div>
  <hr />
  <div class="shipping">
    <p>Shipping</p>
    <div class="shipping-options">
      <div
        class="radio"
        *ngFor="let shipping of (sharedDataService.layout$ | async).shipping"
      >
        <input
          type="radio"
          id="option"
          name="shipping"
          [value]="shipping.price"
          formControlName="shipping"
        />
        <label for="option">{{ shipping.name }} ( {{ shipping.price }}$ )</label>
      </div>
    </div>
  </div>
  <hr />
  <div class="total">
    <div class="total-top">
      <p>Total</p>
      <h2>$ {{ total + shippingPrice }}</h2>
    </div>
  </div>
  <hr />
  <div class="place-order">
    <div class="payment-options">
      <div>
        <input
          type="radio"
          id="option3"
          name="payment"
          value="cash"
          formControlName="payment"
        />
        <label for="option3">Cash</label>
      </div>
      <div>
        <input
          type="radio"
          id="option4"
          name="payment"
          value="online"
          formControlName="payment"
        />
        <label for="option4">Online</label>
      </div>
    </div>
    <div class="terms-of-use">
      <input
        type="radio"
        id="terms-of-use"
        name="terms-of-use"
        value="terms-of-use"
      />
      <label for="option2"
        >I’ve read and accept the
        <a [routerLink]="['/info', 'terms-of-use']"
          >terms & conditions *</a
        ></label
      >
    </div>
    <button (click)="placeOrder()" class="gradient-btn">Place order</button>
  </div>
</div>
