@import "/src/app/shared/styles/border-radius";

.list-group {
  height: 27vh;
  margin-top: 10px;
  text-align: center;
  overflow-y: auto;
}

.brand-img {
  width: 100px;
}

.alert-box {
  top: 10vh;
  bottom: 20vh;
  margin-left: -50vw;
  height: fit-content;
  max-height: 60vh;
  width: 50vw;
}

.cancel-btn {
  width: 100%;
  margin-bottom: 50px;
}

.red-btn {
  float: right;
  margin-bottom: 10px;
  margin-top: 5px;
  height: 30px;
  padding: 5px 10px;
}

.img-edit-btn {
  position: absolute;
  right: 100px;
}

.short-description {
  margin-top: 5px;
  width: 100%;
  textarea {
    width: 100%;
  }
}

.buttons-website-edit {
  align-items: center;
}

.green-btn {
  float: right;
  border-radius: $huge-border-radius;
  padding: 0px 30px;
}

.green-btn,
.upload-btn {
  height: 50px;
}
