.list-group {
  max-height: 460px;
  margin-top: 10px;
  text-align: center;
  overflow-y: auto;
}

.brand-img {
  width: 100px;
}

.alert-box {
  top: 10vh;
  bottom: 20vh;
  height: fit-content;
  max-height: 80vh;
  margin-left: -30vw;
}

.cancel-btn {
  width: 100%;
  margin-bottom: 50px;
}

.red-btn {
  float: right;
  margin-bottom: 10px;
}

.img-edit-btn {
  position: absolute;
  right: 100px;
}

.short-description {
  margin-top: 5px;
  width: 100%;
  textarea {
    width: 100%;
  }
}

.red-btn {
  margin-top: 5px;
  height: 30px;
  padding: 5px 10px;
}

.buttons-website-edit {
  align-items: center;
}
