<ng-container *ngIf="sharedDataService.layout$ | async as layout">
  <div class="website-edit-box">
    <div *ngIf="showEditTermsOfUse">
      <app-page-edit
        (close)="closeTermsOfUseEdit()"
        [content]="layout.termsOfUse"
        pageName="terms-of-use"
      ></app-page-edit>
    </div>

    <div *ngIf="showEditAboutUs">
      <app-page-edit
        (close)="closeEditAboutUs()"
        [content]="layout.aboutUs"
        pageName="about-us"
      ></app-page-edit>
    </div>

    <div *ngIf="showEditFooter">
      <app-footer-edit
        (close)="footerEdit($event)"
      ></app-footer-edit>
    </div>
    <h1>Settings</h1>
    <hr />
    <app-name-edit></app-name-edit>
    <hr />
    <div class="edit-option">
      <h2 class="left">Categories</h2>
      <div class="center">
        <div
          *ngFor="let category of layout.categories; let i = index"
          class="simple-btn"
        >
          {{ category.name }}
        </div>
      </div>
      <app-categories-edit></app-categories-edit>
    </div>
    <hr />

    <div class="edit-option">
      <h2 class="left">Brands</h2>
      <div class="center">
        <div
          *ngFor="let brand of layout.brands; let i = index"
          class="simple-btn"
        >
          {{ brand.name }}
        </div>
      </div>
      <app-brands-edit
        class="right"
      ></app-brands-edit>
    </div>
    <hr />

    <!--Coupons-->
    <div class="edit-option">
      <h2 class="left">Coupons</h2>
      <div class="simple-btn" *ngFor="let coupon of coupons; let i = index">
        {{ coupon }}
      </div>
      <app-coupons-edit></app-coupons-edit>
    </div>
    <hr />

    <!--Shipping-->
    <div *ngIf="(sharedDataService.layout$ | async).shipping as shippings" class="edit-option">
      <h2 class="left">Shipping</h2>
      <div
        class="simple-btn"
        *ngFor="let shipping of shippings ; let i = index"
      >
        {{ shipping.name }}
      </div>
      <app-shipping-edit
        [shippings]="shippings"
      ></app-shipping-edit>

      <!--  !! nu are niciologica -->
      <!-- (newShippings)="(shipping)" -->

    </div>
    <hr />

    <!--Terms of use-->
    <div class="edit-option">
      <h2 class="left">Terms Of Use</h2>
      <a class="center" routerLink="../../terms-of-use"> Open </a>
      <button class="main-btn right" type="button" (click)="editTermsOfUse()">
        Edit
      </button>
    </div>

    <hr />
    <div class="edit-option">
      <h2 class="left">About Us</h2>
      <a class="center" routerLink="../../about-us"> Open </a>
      <button class="main-btn right" type="button" (click)="editAboutUs()">
        Edit
      </button>
    </div>
    <hr />
    <div class="edit-option">
      <h2 class="left">Footer</h2>
      <button
        class="main-btn right"
        type="button"
        (click)="showEditFooter = true"
      >
        Edit
      </button>
    </div>
  </div>
</ng-container>
