@import "/src/app/shared/styles/border-radius";
@import "/src/app/shared/styles/colors";

.content {
  border-radius: 20px;
  padding: 20px;
  background-color: $non-color-2;
  width: 50vw;
}

form {
  color: $non-color-1;
}

.price-input,
.tags-input,
.models-input {
  display: flex;
}

.imgInput {
  align-items: center;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.prev-images {
  display: block;
  max-width: 600px;
  position: relative;
  .image {
    border-radius: $very-small-border-radius;
    padding: 5px 5px 22px 5px;
    
    img {
      max-height: 108px;
      max-width: 192px;
    }
  }
}

.delete-btn {
  position: relative;
  margin: 5px;
  right: 5px;
  float: right;
  border: none;
  border-radius: $very-small-border-radius;
  color: $non-color-2;
  background-color: red;
}

.image {
  display: inline-block;
  position: relative;
  margin: 5px;
}

.tag-input-group {
  display: flex;
  .tag-label-input {
    display: grid;
  }
  .tag-input {
    height: 35px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  .black-btn {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

.black-btn {
  margin-top: auto;
  height: 35px;
  padding: 5px 10px;
}

.tags,
.tags-area,
.models-area {
  margin-top: 20px;
}

.tags-area,
.models-area {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-height: 150px;
  border: 1px solid $gray-40 !important;
  border-radius: $very-small-border-radius;
}

.model-input-group {
  display: flex;
  .model-input {
    display: grid;
    margin: 0px 5px;
  }
  .model-btn {
    margin-bottom: 5px;
  }
}

.tag-btn {
  margin-top: 10px;
  min-width: 100px;
}

.quantityInput {
  float: right;
  max-width: 200px;
}

.auto-mode,
.discount {
  position: relative;
  width: 100%;
}

.sales-target {
  position: absolute;
  right: 0px;
}
