@import "/src/app/shared/styles/border-radius";
@import "/src/app/shared/styles/colors";

.content {
  border-radius: 20px;
  padding: 20px;
  background-color: $non-color-2;
}

form {
  color: $non-color-1;
}

.price-input,
.tags-input {
  display: flex;
}

.imgInput {
  align-items: center;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.prev-images {
  display: block;
  max-width: 600px;
  position: relative;
  .image {
    border-radius: $very-small-border-radius;
    padding: 5px 5px 22px 5px;
    box-shadow: 0 7px 20px 0 rgba(36, 41, 66, 0.15);
    img {
      max-height: 108px;
      max-width: 192px;
    }
  }
}

.delete-btn {
  position: relative;
  margin: 5px;
  right: 5px;
  float: right;
  border: none;
  border-radius: $very-small-border-radius;
  color: $non-color-2;
  background-color: red;
}

.image {
  display: inline-block;
  position: relative;
  margin: 5px;
}

.tags,
.tags-area {
  margin-top: 20px;
}

.tags-area {
  min-height: 150px;
  border: 1px solid #ccc !important;
  border-radius: $very-small-border-radius;
  flex-direction: row !important;
  column-count: 5; //TO FIX!
}

.tag-btn {
  margin-top: 10px;
}

.quantityInput {
  float: right;
  max-width: 200px;
}

.auto-mode,
.discount {
  position: relative;
  width: 100%;
}

.sales-target {
  position: absolute;
  right: 0px;
}
