.product-page {
  padding: 40px;
}

.top {
  display: flex;
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 50px;
  height: 562px;
  width: 800px;
  background-color: white;
}

.left {
  width: calc(100% - 562px);
  text-align: center;
}

.product-details {
  float: right;
  padding: 50px;
  flex-direction: column;
  display: flex;
  place-content: center;
  align-items: center;
  margin-top: 80px;
  margin-right: 240px;
}

.title h1 {
  font-size: 1.5em;
}

.price h2 {
  font-size: 2em;
}

.buy-group {
  display: flex;
  div {
    margin: 8px;
  }
  .buy-button {
    margin-top: 0px;
  }
}

.recommended-products {
  float: right;
  position: relative;
  top: -180px;
  // max-width: 100px;
}

.products {
  display: flex;
}

.short-description {
  margin-top: 50px;
  padding: 20px;
  width: 50%;
}
