<div class="product-page">
  <div class="top">
    <div class="product">
      <app-carousel 
        [images]="product.img"
      ></app-carousel>
    </div>
    <div class="left">
      <div class="product-details">
        <div class="title">
          <h1>{{ product.title }}</h1>
        </div>
        <div class="buy-group">
          <div class="price">
            <h2>{{ product.price }} $</h2>
          </div>
          <div class="quantity">
            <input
              class="form-input"
              type="number"
              min="1"
              value="1"
              [max]="product.quantity"
            />
          </div>
          <div class="buy-button">
            <button class="buy-btn">Buy</button>
          </div>
        </div>
        <div class="rating">
          <app-rating [rating]="product.rating"></app-rating>
        </div>
      </div>
    </div>
  </div>
  <div class="recommended-products">
    <h1>Recommanded:</h1>
    <div class="products">
      <app-get-recommended-product
        *ngFor="let t of times"
        [product]="recommendedProduct"
      ></app-get-recommended-product>
    </div>
  </div>
  <div class="short-description">
    <h3>{{product.shortDescription}} </h3>
  </div>
  <div class="description">
    <h4>{{shortDescription}} </h4>
  </div>
</div>
