@import "../../../../shared/styles/border-radius.scss";

.carousel {
    display: flex;
}

.product {
    margin: 30px;
    padding: 0 32px 43px 32px;
    border-radius: $small-border-radius;
    max-width: 320px;
}
