.full-stars,
.stars {
  display: flex;
}

.stars {
  background-color: whitesmoke;
}

mat-icon {
  cursor: pointer;
  color: rgb(255, 191, 0);
}

.stars:hover {
  mat-icon {
    color: rgb(255, 255, 0);
  }
}
