.categories {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}
.left,
.right {
  height: 360px;
  width: 48%;
  background-color: whitesmoke;
}

.left {
  margin-right: 2%;
}

.right {
  margin-left: 2%;
}

.left-img,
.right-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.right-black-layer,
.left-black-layer {
  position: absolute;
  height: 360px;
  width: 48%;
  z-index: 2;
  background-color: rgba($color: #000000, $alpha: 0.7);
}

.category-name {
  transition-duration: 0.4s;
  cursor: pointer;
  display: flex;
  align-items: center;
  place-content: center;
  position: absolute;
  box-sizing: border-box;
  width: 47%;
  height: 360px;
  z-index: 3;
}
