<div class="content">
  <div class="left">
    <app-get-product [product]="products[0]" [fullContent]="true"></app-get-product>
  </div>
  <div class="right">
    <div class="top">
      <app-get-product [product]="products[1]" [fullContent]="true"></app-get-product>
    </div>
    <div class="bottom">
      <div class="left">
        <app-get-product [product]="products[2]"></app-get-product>
      </div>
      <div class="right">
        <app-get-product [product]="products[3]"></app-get-product>
      </div>
    </div>
  </div>
</div>
