<div class="backdrop"></div>
<div class="alert">
  <div class="alert-box">
    <button (click)="onClose()" class="btn red-btn">X</button>
    <div class="content">
      <select (input)="onPageChange($event.target.value)" name="pages" id="pages">
        <option *ngFor="let page of pages" [value]="page">
          {{ page }}
        </option>
      </select>
      <div class="page-name">
        <h1>{{ page }}</h1>
      </div>
      <div class="editor">
        <text-editor
          (contentChanged)="ckeditorContentChanged($event)"
          #tinyMce
          [initialValue]="initialValue"
        ></text-editor>
      </div>
      <!-- <textarea #about rows="15" class="form-control">{{content}}</textarea> -->
      <hr />
      <button (click)="onSave()" class="btn green-btn">Save</button>
    </div>
  </div>
</div>
