@import "/src/app/shared/styles/colors";
@import "/src/app/shared/styles/border-radius";

.product {
  height: 420px;
  position: relative;
  border: 2px solid $gray-80;
  border-radius: $small-border-radius;
  padding: 30px;
  //TODO delete when you finish .product-buttons
  margin-bottom: 10px;
  ////////////////////
  cursor: pointer;
  &:hover {
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    //TODO delete when you finish .product-buttons
    border-radius: $small-border-radius;
    //
    box-shadow: 0 7px 20px 0 rgba(36, 41, 66, 0.15);
  }
}

.cut {
  position: absolute;
  top: -50px;
  width: 46px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  color: white;
  background-color: $main-red;
}

.img {
  width: 100%;
  img {
    display: flex;
    max-width: 200px;
    max-height: 200px;
    margin: auto;
  }
}

.category p {
  color: $gray-30;
  font-size: 12px;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.title h1 {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: 800;
  line-height: 1.1;
}

.price h2 {
  color: $gray-20;
  font-size: 18px;
}

.fullContent {
  width: 100%;
  .img {
    height: 70%;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
    img {
      max-width: 100%;
      max-height: 100% !important;
    }
  }
}
.product-info {
  position: absolute;
  bottom: 5%;
}

.product-buttons {
  top: -5px;
  width: 100%;
  padding: 3px;
  text-align: center;
  position: relative;
  opacity: 0;
  z-index: 3;
  border-top: 2px solid $gray-80;
  box-shadow: 0 7px 20px 0 rgba(36, 41, 66, 0.15);
  background-color: $non-color-2;
}

.product:hover + .product-buttons,
.product-buttons:hover {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-bottom-left-radius: $small-border-radius;
  border-bottom-right-radius: $small-border-radius;
}

.cart {
  float: left;
}

.heart {
  margin: auto;
}

.compare {
  float: right;
}

.search {
  height: 420px;
}
