<div class="content">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Is Active</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let userData of users; let i = index">
            <td>
              {{i}}
            </td>
            <td>
              {{userData.user.email}}
            </td>
            <td>
              {{userData.user.username}}
            </td>
            <td>
              <!-- is active -->
            </td>
            <td>
              <button class="main-btn">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>