<button class="main-btn" type="button" (click)="shippingHide = false">
  Edit
</button>
<div *ngIf="!shippingHide">
  <div class="backdrop"></div>
  <div class="alert">
    <div class="alert-box">
      <div class="cancel-btn">
        <button (click)="shippingHide = true" class="btn red-btn cancel">X</button>
      </div>
      <form [formGroup]="shippingFormGroup" (ngSubmit)="addNewValue()">
        <div class="form-row align-items-center">
          <div class="new-shipping">
            <label for="shippingInput"><b>Name</b></label>
            <input
              type="text"
              class="form-control"
              id="shippingNameInput"
              placeholder="Name"
              formControlName="name"
            />
            <label for="shippingPriceInput"><b>Price</b></label>
            <input
              type="number"
              class="form-control"
              id="shippingPriceInput"
              placeholder="Price"
              formControlName="price"
            />
          </div>
          <div class="add-btn-area">
            <button type="submit" class="gradient-btn add-btn">Add</button>
          </div>
        </div>
      </form>
      <ul class="list-group">
        <div
          *ngFor="
            let shipping of (sharedDataService.layout$ | async).shipping;
            let i = index
          "
        >
          <!--To do: implement active-->
          <li class="list-group-item">
            <h1 *ngIf="editShippingMode != i">
              Name: {{ shipping.name }} | Price: {{ shipping.price }}
            </h1>
            <ng-container *ngIf="editShippingMode === i">
              <form [formGroup]="shippingFormGroup">
                <label for="editName">Name</label>
                <input
                  id="editName"
                  type="text"
                  class="form-control"
                  [value]="shipping.name"
                  formControlName="name"
                  placeholder="Name"
                />
                <hr />
                <label for="editPrice">Price</label>
                <input
                  id="editPrice"
                  type="number"
                  class="form-control"
                  [value]="shipping.price"
                  formControlName="price"
                  placeholder="Price"
                />
              </form>
            </ng-container>
            <hr />
            <div class="buttons-website-edit">
              <button (click)="delete(i)" class="empty-btn">
                <mat-icon>delete</mat-icon>
              </button>
              <button
                *ngIf="editShippingMode != i"
                (click)="editShippingMode = i"
                class="empty-btn"
              >
                <mat-icon>create</mat-icon>
              </button>
              <button
                *ngIf="editShippingMode == i"
                (click)="editCouponMode = null"
                class="btn red-btn"
              >
                Cancel
              </button>
              <button
                *ngIf="editShippingMode == i"
                (click)="edit(i)"
                class="btn green-btn"
              >
                Done
              </button>
            </div>
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>
