.alert-box {
  top: 10vh;
  bottom: 20vh;
  width: 50vw;
  max-height: 80vh;
  margin-left: -30vw;
  
}

.list-group {
  height: 51%;
  overflow-y: auto;
}

.cancel-btn {
  width: 100%;
  margin-bottom: 50px;
}

.cancel {
  float: right;
  margin-bottom: 10px;
}

.new-shipping {
  width: 100%;
}

input {
  margin-bottom: 5px;
}

.add-btn-area {
  display: flex;
  place-content: center;
  align-items: center;
  width: 100%;
  .add-btn {
    margin: 10px 0px;
    padding: 0px 80px;
  }
}

.shipping-info {
  display: flex;
  place-content: center;
}
