.brands {
    display: flex;
    margin-bottom: 10px;
    img {
        cursor: pointer;
        max-height: 100px;
        margin: 20px 50px;
    }
    img:hover {
        transform: scale(1.25);
        transition: all 1s linear;
      }
}