<div *ngIf="showEditTermsOfUse">
  <app-terms-of-use-edit
    (close)="closeTermsOfUseEdit()"
  ></app-terms-of-use-edit>
</div>

<div *ngIf="showEditAboutUs">
  <app-about-us-edit (close)="closeEditAboutUs()"></app-about-us-edit>
</div>

<div *ngIf="showEditFooter">
  <app-footer-edit (close)="footerEdit($event)" [websiteDetails]="websiteDetails"></app-footer-edit>
</div>

<div *ngIf="!showEditTermsOfUse || !showEditAboutUs">
  <h1>Products categories</h1>
  <app-categories-edit (finalCategories)="websiteDetails.categories" [categories]="websiteDetails.categories"></app-categories-edit>
  <hr />
  <h1>Brands</h1>
  <app-brands-edit (finalBrands)="websiteDetails.brands" [brands]="websiteDetails.brands"></app-brands-edit>
  <hr />
  <h1>Terms of use</h1>
  <button class="btn btn-danger" type="button" (click)="editTermsOfUse()">
    Edit Terms Of Use
  </button>
  <hr />
  <h1>About Us</h1>
  <button class="btn btn-danger" type="button" (click)="editAboutUs()">
    Edit About Us
  </button>
  <hr />
  <h1>Footer</h1>
  <button class="btn btn-danger" type="button" (click)="showEditFooter = true">
    Edit Footer
  </button>
  <hr />
  <h1>Website's name</h1>
  <div class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
      <input
        #websiteName
        type="text"
        class="form-control inputName"
        placeholder="Website's name"
        [value]="websiteDetails.name"
      />
      <button
        (click)="setName(websiteName)"
        type="button"
        class="btn btn-primary mb-2"
      >
        Set name
      </button>
    </div>
  </div>
  <button class="gradient-btn" (click)="saveInfo()">Update!</button>
</div>
