<div class="carousel">
    <div class="product" *ngFor="let slide of singleSlide">
        <div class="product-img">
            <div class="cut">
                <p>-40%</p>
            </div>
            <img [src]="slide.img" [alt]="slide.title">
        </div>
        <div class="product-price">
            <span class="red">$79.00</span>
            <span class="old">$99.00</span>
        </div>
        <div class="product-title">
            <h3>
                <a routerLink="">{{slide.title}}</a>
            </h3>
        </div>
        <div class="deal-progress">
            <div class="deal-stock">
                <span class="stock-sold">19% already claimed</span>
                <span class="stock-available">Available: <strong>22</strong></span>
            </div>
            <div class="progress">
                <span class="progress-bar" style="width:50.5956%"></span>
            </div>
        </div>
        <div class="deal-end">
            <h3>Deal ends in:</h3>
            <h4>20:04:30</h4>
        </div>
    </div>
    <a class="carousel-control-prev" (click)="previous()" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" (click)="next()" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
</div>
