<table class="table" *ngIf="emails">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Status</th>
      <th scope="col">Name</th>
      <th scope="col">Subject</th>
      <th scope="col">Email</th>
      <th scope="col">Message</th>
      <th scope="col">Date</th>
      <th scpe="col">Delete</th>
    </tr>
  </thead>
  <tbody *ngFor="let email of emails; let i = index">
    <tr (click)="openEmail(i)" class="open-email">
      <th scope="row">{{ i + 1 }}</th>
      <th scope="row" *ngIf="!email.seen"><mat-icon> email</mat-icon></th>
      <th scope="row" *ngIf="email.seen">
        <mat-icon>mail_outline</mat-icon>
      </th>
      <td>{{ email.name }}</td>
      <td>{{ email.subject }}</td>
      <td>{{ email.email }}</td>
      <td>{{ email.message | shorten: 30 }}</td>
      <td>{{ email.date | date }}</td>
      <td class="delete-button">
        <button class="empty-btn" (click)="onDelete(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
