@import "../../shared/colors.scss";

.cart {
    display: flex;
    margin-top: 100px;
    width: 100%;
    justify-content: space-between;
}

.left, .right {
    min-height: 400px;
    border: 2px solid $border-card;
    border-radius: 10px;
}

.left {
    width: 72%;
}

.right {
    float: right;
    width: 27%;
    background: #f8f8f8;
    .top {
        width: fit-content;
        padding:0px 20px;
        padding-top: 10px;
    }
}

.top {
    position: relative;
    top: -31px; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    display: flex;
    place-content: center;
    align-items: center;
    border: 2px solid #333333;
    padding-top: 10px;
    line-height: 50px;
    width: 116px;
    font-weight: 800;
    border-radius: 999px;
    font-size: 18px;
    background-color: white;
}
.shipping,
.subtotal,
.total-top {
    padding: 20px;
    display: flex;  
    justify-content: space-between;   
}
.subtotal,
.shipping,
.total {
    p {
        font-size: 16px;
        font-weight: 800;
    }    
}

.shipping-options {
    display: flex;
    flex-direction: column;
}

.total {
    width: 100%;
    .gradient-btn{
        display:block;
        width: fit-content;
        margin: auto;
    }
}

.paypal-option {
    margin-top: 50px;
    text-align: center;
    p {
        position: relative;
        top: -27px;
        display: inline;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto;
        border: 1px solid $border;
        border-radius: 50%;
        padding: 10px;
        background-color: white;
    }
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 41%;
}