@import "/src/app/shared/styles/border-radius";
@import "/src/app/shared/styles/colors";

.cart {
  display: flex;
  margin-top: 100px;
  width: 100%;
  justify-content: space-between;
}

.left,
.right {
  min-height: 580px;
  border: 2px solid $gray-80;
  border-radius: $small-border-radius;
}

.left {
  width: 72%;
}

.right {
  float: right;
  width: 27%;
  background: $gray-90;
  .top {
    width: fit-content;
    padding: 0px 20px;
    padding-top: 10px;
  }
}

.card-top {
  padding-top: 10px;
  width: 160px;
}

.total-top {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.total {
  p {
    font-size: 16px;
    font-weight: 800;
  }
}

.shipping-options {
  display: flex;
  flex-direction: column;
}

.total {
  width: 100%;
  .gradient-btn {
    display: block;
    width: fit-content;
    margin: auto;
  }
}

.right-text {
  min-height: 315px;
  padding: 20px;
}

.bottom,
.bottom-right {
  position: absolute;
  bottom: 0;
  width: 42%;
}

.bottom-right {
  height: 100px;
  width: 293px;
  flex-direction: row;
  display: flex;
  place-content: center;
  align-items: center;
}

@media (max-width: 1340px) {
  .bottom {
    width: 620px;
  }
}
