<div class="cart">
  <div class="left">
    <div class="card-top">
      <h1>Cart</h1>
    </div>
    <ng-container *ngIf="updatedCart.length > 0">
      <div class="product">
        <app-cart-item
          *ngFor="let item of updatedCart; let i = index"
          [product]="item"
          [index]="i"
          (deleteIndex)="onDelete($event)"
        ></app-cart-item>
      </div>
      <div class="bottom">
        <app-cart-coupon (discount)="coupon($event)"></app-cart-coupon>
      </div>
    </ng-container>
    <ng-container *ngIf="updatedCart.length === 0">
     <div class="no-elements">
       <p>No products were added to the cart</p>
     </div>
    </ng-container>
  </div>
  <div class="right">
    <div class="card-top">
      <h1>Cart totals</h1>
    </div>
    <div class="total">
      <div class="total-top">
        <p>Total</p>
        <p>$ {{ total }}</p>
      </div>
    </div>
    <div class="right-text">
      <hr />
      <h6>{{ rightText }}</h6>
      <hr />
    </div>
    <div class="bottom-right">
      <ng-container *ngIf="updatedCart.length > 0">
        <button routerLink="../checkout" class="gradient-btn">
          Proceed to checkout
        </button>
      </ng-container>
      <ng-container *ngIf="updatedCart.length === 0">
        <button routerLink="/special-for-you" class="gradient-btn">
          Make me a discount
        </button>
      </ng-container>
    </div>
  </div>
</div>
