.product-page {
  padding: 40px;
}

.top {
  display: flex;
  margin-left: -160px;
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 50px;
  height: 562px;
  width: 800px;
  background-color: white;
}

.center {
  margin: 10px 80px;
}

.left {
  width: calc(100% - 562px);
  text-align: center;
}

.recommended-products {
  float: right;
  position: relative;
  top: -180px;
  // max-width: 100px;
}

.products {
  display: flex;
}

.short-description {
  margin-top: 50px;
  padding: 20px;
  width: 50%;
}