/* You can add global styles to this file, and also import other style files */
@import "./app/shared/styles/buttons/white-btn.scss";
@import "./app/shared/styles/buttons/main-btn.scss";
@import "./app/shared/styles/buttons/empty-btn.scss";
@import "./app/shared/styles/buttons/simple-btn.scss";
@import "./app/shared/styles/buttons/black-btn.scss";
@import "./app/shared/styles/buttons/gray-btn.scss";
@import "./app/shared/styles/buttons/gradient-btn.scss";
@import "./app/shared/styles/buttons/custom-input-files.scss";
@import "./app/shared/styles/buttons/red-btn.scss";
@import "./app/shared/styles/colors.scss";
@import "./app/shared/styles/border-radius.scss";

* {
  margin: 0;
  font-family: "Helvetica Neue LT Std", sans-serif;
  //color: $gray-10;
  font-size: 14px;
  outline: none !important;
}

.carousel-control-next-icon {
  position: relative;
  left: 150px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
  position: relative;
  right: 150px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

mat-icon {
  color: white;
}

a,
a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

a:hover,
a:hover span {
  color: $main-red;
}

ul {
  list-style: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.alert {
  place-content: center;
  align-items: center;
  margin: auto;
}

.alert-box {
  position: fixed;
  padding: 16px;
  z-index: 100;
  border-radius: $small-border-radius;
  background: $non-color-2;
  box-shadow: 0 2px 8px rbga(0, 0, 0, 0.26);
}

.card-top {
  position: relative;
  top: -31px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  place-content: center;
  align-items: center;
  border: 2px solid $gray-80;
  line-height: 50px;
  font-weight: 800;
  border-radius: $huge-border-radius;
  font-size: 18px;
  background-color: $non-color-2;
}

.required-field {
  color: red;
}

.products-grid {
  padding: 20px 100px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 10px;
}

input {
  border: 1px solid $gray-80;
  border-radius: $huge-border-radius;
  padding: 10px 20px;
}

textarea {
  border: 1px solid $gray-80;
  padding-left: 33px;
  padding-top: 24px;
  border-radius: 22px;
  resize: none;
}

.buttons-website-edit {
  display: flex;
  place-content: center space-between;
}

.product-box {
  border-radius: $small-border-radius;
  padding: 50px;
}

.shadow {
  border-radius: $small-border-radius;
  box-shadow: 0 7px 20px 0 rgba(36, 41, 66, 0.15);
}

.no-elements {
  p {
    font-size: 50px;
    color: $gray-20;
    font-weight: lighter;
    line-height: 62px;
  }
  text-align: center;
  max-width: 520px;
  margin: 0 auto;
  padding: 100px 0;
}
