@import "/src/app/shared/styles/border-radius";
@import "/src/app/shared/styles/colors";

.sign-up {
  border: 1px solid $gray-80;
  border-radius: $small-border-radius;
  width: 100%;
  padding: 20px;
}

.card-top {
  top: -35px;
}

.signup-btn {
  display: flex;
  align-items: center;
  padding-right: 15px;
  button {
    margin: auto;
  }
}
