@import "../../../shared/styles/colors.scss";
@import "../../../shared/styles/border-radius.scss";

.images {
    display: flex;
}

.main-img  {
    img {
        width: 320px;
    }
}

.secondary-images {
    margin-right: 20px;
}


.main-img {
    display: flex;
    place-content: center;
    align-items: center;
    border: 1px solid $gray-80;
    border-radius: $small-border-radius;
    padding: 0px 40px;
}