.product {
    max-height: 500px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    padding-top: 50px;
    background-color:rgba(220, 220, 220, 0.20);
}

.cut span {
    font-size: 2rem;
    color: #ff5050;;
}

.cut h2 {
    color:#999999;
}

.link {
    h2{
       color: #ff5050;;
    }
  
    span {
        position: relative;
        top: 5px;
    }
}

img {
    width:200px;
}

.img:hover {
    img {
      transform: scale(1.25);
      transition: all 1s linear;
    }
  }