@import "/src/app/shared/styles/border-radius";
@import "/src/app/shared/styles/colors";

.canceled {
  color: gray !important;
}

.new {
  color: red !important;
}

.processed {
  color: green !important;
}

.open-order {
  cursor: pointer;
}