/* You can add global styles to this file, and also import other style files */
@import "./app/shared/buttons/white-btn.scss";
@import "./app/shared/buttons/main-btn.scss";
@import "./app/shared/buttons/empty-btn.scss";
@import "./app/shared/buttons/simple-btn.scss";
@import "./app/shared/buttons/black-btn.scss";
@import "./app/shared/buttons/gray-btn.scss";
@import "./app/shared/buttons/gradient-btn.scss";
@import "./app/shared/buttons/custom-input-files.scss";
@import "./app/shared/colors.scss";

* {
  margin: 0;
  font-family: "Helvetica Neue LT Std", sans-serif;
  color: #333333;
  font-size: 14px;
}

.carousel-control-next-icon {
  position: relative;
  left: 150px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
  position: relative;
  right: 150px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

mat-icon {
  color: white;
}

a,
a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

a:hover,
a:hover span {
  color: #ff5050;
}

ul {
  list-style: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.alert {
    place-content: center;
    align-items: center;
    margin: auto;
}

.card-top {
  position: relative;
  top: -31px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  place-content: center;
  align-items: center;
  border: 2px solid #333333;
  line-height: 50px;
  font-weight: 800;
  border-radius: 999px;
  font-size: 18px;
  background-color: white;
}

.required-field {
  color: red;
}

.products-grid {
  padding: 20px 100px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 10px;
}

input {
  border: 1px solid $border;
  border-radius: 999px;
  padding: 10px 20px;
}

textarea {
  border: 1px solid $border;
  padding-left: 33px;
  padding-top: 24px;
  border-radius: 22px;
  resize: none;
}

.buttons-website-edit {
  display: flex;
  place-content: center space-between;
}