/* You can add global styles to this file, and also import other style files */
@import "./app/shared/buttons/product-btn.scss";
@import "./app/shared/buttons/form-btn.scss";
@import "./app/shared/buttons/mat-btn.scss";
@import "./app/shared/buttons/buy-btn.scss";

* {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.oled-theme,
mat-icon {
  color: #ded6ce;
  background-color: black;

  mat-icon,
  a {
    transition-duration: 0.4s;
  }

  a {
    color: #ded6ce;
  }

  mat-icon:hover,
  a:hover {
    color: #3f6174;
    text-decoration: none;
  }

  table {
    color: white;
  }

  .footer,
  .nav-bar,
  .side-bar {
    background-color: black;
  }

  .alert {
    color: black;
  }

  .list-group-item {
    margin: 3px;
    border: 3px solid white;
    border-radius: 20px;
    background-color: transparent !important;
  }
}

.category-name:hover {
  font-size: 5em;
  background-color: #3f617442;
}
