@import "../../shared/styles/colors.scss";

.footer {
    width: 100%;
    padding-top: 20px;
    background-color: $gray-90;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
}
