<button class="main-btn" type="button" (click)="couponsHide = false">
  Edit
</button>
<div *ngIf="!couponsHide">
  <div class="backdrop"></div>
  <div class="alert">
    <div class="alert-box">
      <div class="cancel-btn">
        <button (click)="couponsHide = true" class="btn btn-danger">X</button>
      </div>
      <form [formGroup]="couponFormGroup">
        <div class="form-row align-items-center">
          <div class="col-auto">
            <label for="couponInput"><b>Add a new coupon</b></label>
            <input
              type="text"
              class="form-control"
              id="couponInput"
              placeholder="Code"
              formControlName="code"
            />
            <input
              type="number"
              class="form-control"
              id="couponInput"
              placeholder="Discount"
              formControlName="discount"
            />
          </div>
          <div class="col-auto">
            <button type="submit" class="main-btn">Add</button>
          </div>
        </div>
      </form>
      <ul class="list-group">
        <div *ngFor="let coupon of coupons; let i = index">
          <!--To do: implement active-->
          <li class="list-group-item">
            <h1 *ngIf="editCouponMode != i">{{ coupon }}</h1>

            <input
              [hidden]="editCouponMode != i"
              type="text"
              class="form-control"
              [value]="coupon"
              #editedCoupon
            />
            <hr />
            <div class="buttons-website-edit">
              <button (click)="delete(i, coupon)" class="empty-btn">
                <mat-icon>delete</mat-icon>
              </button>

              <button
                *ngIf="editCouponMode != i"
                (click)="editCouponMode = i"
                class="empty-btn"
              >
                <mat-icon>create</mat-icon>
              </button>
              <button
                *ngIf="editCouponMode == i"
                (click)="edit(editedCoupon, coupon)"
                class="btn btn-primary"
              >
                Done
              </button>
            </div>
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>
