<button class="main-btn" type="button" (click)="couponsHide = false">
  Edit
</button>
<div *ngIf="!couponsHide">
  <div class="backdrop"></div>
  <div class="alert">
    <div class="alert-box">
      <div class="cancel-btn">
        <button (click)="couponsHide = true" class="btn red-btn cancel">X</button>
      </div>
      <form [formGroup]="couponFormGroup" (ngSubmit)="addNewValue()">
        <div class="form-row align-items-center">
          <div class="new-coupon">
            <label for="couponCodeInput"><b>Code</b></label>
            <input
              type="text"
              class="form-control"
              id="couponCodeInput"
              placeholder="Code"
              formControlName="code"
            />
            <label for="couponDiscountInput"><b>Discount</b></label>
            <input
              type="number"
              class="form-control"
              id="couponDiscountInput"
              placeholder="Discount"
              formControlName="discount"
            />
            <div class="add-btn-area">
              <button type="submit" class="gradient-btn add-btn">Add</button>
            </div>
          </div>
        </div>
      </form>
      <hr />
      <ul class="list-group">
        <div *ngFor="let coupon of couponsForm.value; let i = index">
          <!--To do: implement active-->
          <li class="list-group-item">
            <form [formGroup]="couponFormGroup">
              <div class="coupon-info" *ngIf="editCouponMode != i">
                <h1>Code: {{ coupon.code }} | 
                Discount: {{ coupon.discount }}</h1>
              </div>
              <ng-container *ngIf="editCouponMode === i">
                <label for="editCode">Code</label>
                <input
                  id="editCode"
                  type="text"
                  class="form-control"
                  [value]="coupon.code"
                  formControlName="code"
                  placeholder="Code"
                />
                <hr />
                <label for="editDiscount">Discount</label>
                <input
                  id="editDiscount"
                  type="number"
                  class="form-control"
                  [value]="coupon.discount"
                  formControlName="discount"
                  placeholder="Discount"
                />
              </ng-container>
              <hr />
            </form>
            <div class="buttons-website-edit">
              <button (click)="delete(i, coupon)" class="empty-btn">
                <mat-icon>delete</mat-icon>
              </button>

              <button
                *ngIf="editCouponMode != i"
                (click)="editCouponMode = i"
                class="empty-btn"
              >
                <mat-icon>create</mat-icon>
              </button>
              <button
              *ngIf="editCouponMode == i"
              (click)="editCouponMode = null"
              class="btn red-btn"
            >
              Cancel
            </button>
              <button
                *ngIf="editCouponMode == i"
                (click)="edit(i)"
                class="btn green-btn"
              >
                Done
              </button>
            </div>
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>
