@import "/src/app/shared/styles/border-radius";
@import "/src/app/shared/styles/colors";

.product {
  position: relative;
  text-align: center;
  margin: 5px;
  height: 220px;
  width: 130px;
  border-radius: $small-border-radius;
  padding: 10px;
  color: $non-color-1;
  background-color: $non-color-2;
}
.img img {
  max-width: 80px;
  max-height: 100px;
}

.product-info {
  position: absolute;
  bottom: 0px;
}

mat-icon {
  color: rgb(235, 235, 0);
  background-color: transparent;
}

.product-rating {
  position: relative;
  bottom: 6px;
}
