@import "/src/app/shared/styles/colors";

.white-btn {
  border: 1px solid $gray-80;
  border-radius: 50px;
  padding: 10px 25px;
  transition: all 0.3s ease 0s;
  background-color: white;
  color: black;
}

.white-btn:hover {
  background-color: black;
  color: white;
}
