@import "/src/app/shared/styles/border-radius";
@import "/src/app/shared/styles/colors";

.custom-input-files::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-input-files {
  border-radius: $small-border-radius;
  padding: 5px 8px;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
  background: linear-gradient(122deg, $main-color-10, $main-color-20);
  color: $non-color-2;
}
