@import "../colors.scss";
@import "../border-radius.scss";

.main-btn {
    box-shadow: none;
    margin: 0 5px;
    border: 0;
    border-radius: $huge-border-radius;
    border: 1px solid $gray-80;
    padding: 0px 20px;
    color: $gray-20;
    background-color: $non-color-2;
    transition: all 0.3s ease 0s;

}

.main-btn:hover {
    color: $non-color-2;
    background-image: linear-gradient(122deg, $main-color-10, $main-color-20);
}