@import "/src/app/shared/styles/colors";

.red-btn {
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  background-color: $main-red;
  color: white;
}

.red-btn:hover {
  background-color: white;
  color: $main-red;
  box-shadow: 0px 2px 20px 2px $main-red;
}
