@import "/src/app/shared/styles/border-radius";
@import "/src/app/shared/styles/colors";

.simple-btn {
  height: fit-content;
  font-weight: bold;
  color: $gray-20;
  background: $non-color-2;
  border-radius: $huge-border-radius;
  border: 1px solid $gray-80;
  border: none;
}
